POSTGRES_USER=cinema_app
POSTGRES_PASSWORD=<YOUR_SECURE_PASSWORD>
POSTGRES_DB=cinema
REDIS_PASSWORD=<YOUR_SECURE_PASSWORD>
RABBITMQ_USER=cinema_app
RABBITMQ_PASSWORD=<YOUR_SECURE_PASSWORD>

JWT_PRIVATE_KEY_PEM=""
